<!--with bootstrap-->
<div class="container">
  <h1>My Goals</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let goal of goals;let i = index'>
        <div>
          <h4 id={{i}} appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h4>
          <h3>Goal CountDown is {{goal.completeDate|dateCount}}</h3>
          <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
        </div>

        <div *ngIf='goal.showDescription'>
          <app-goal-details  [goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-goal-details>
        </div>
      </div>
    </div>
  </div>

  <p *ngIf='goals.length > 5'>You have too many goals</p>
</div>
<!--without bootstrap-->
<!--<h1>My Goals</h1>-->
<!--<hr>-->
<!--<ul>-->
<!--  <div *ngFor='let goal of goals;let i = index'>-->
<!--&lt;!&ndash;    |date is an example of a pipe :its inbuilt to shorten syntax of a date&ndash;&gt;-->
<!--&lt;!&ndash;    <li appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</li>&ndash;&gt;-->
<!--    <li appStrikethrough>{{goal.name}} :count down for goal is {{goal.completeDate|dateCount}} days</li>-->
<!--    <button (click)='toggleDetails(i)'>Toggle Details</button>-->
<!--&lt;!&ndash;    here the is complete is the event emitted by the child component , when its received in the parent component , it will-->
<!--launch the function complete goal&ndash;&gt;-->
<!--    <app-goal-details *ngIf='goal.showDescription' [goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-goal-details>  </div>-->
<!--</ul>-->
<!--<p *ngIf='goals.length > 5'>You have too many goals</p>-->
